# Sadece appsettings dosyalarını ignore et
/KayseriTenisKortRehberi/appsettings.json
/KayseriTenisKortRehberi/appsettings.Development.json

.vs/


# Build output folders
/KayseriTenisKortRehberi/bin
/KayseriTenisKortRehberi/obj


**/obj/


**/bin/

